{% extends "team_sports_app/base.html" %}
{% load bootstrap3 %}
{% block header %}
<div class="text-center">
  <h2>SIGN IN</h2>
</div>

{% endblock header%}

{% block content %}

</style>
  <div class="container container-transparent" style="max-width:500px">
    <form  method="post" action={% url 'users:login' %} class = "form">
      {% csrf_token %}
      {% bootstrap_form form %}

      <button name="log in" class="btn btn-primary btn-block">Sign In</button>

      <input type="hidden" name="next" value="{% url 'team_sports_app:index' %}"/>
    </form>
        <p></p>
    <div class = "text-center text-uppercase">
      <a href="{% url 'users:register' %}"><button class="btn btn-primary" name="register">Sign Up</button></a>
    </div>
  </div>





{% endblock content %}
