{% extends "team_sports_app/base.html" %}
{% load bootstrap3 %}

{% block header%}
  <div class="text-center">
    <h2>Sign Up</h2>
  </div>
{%endblock header%}

{% block content %}
  <div class="container" style="max-width = 500px">
    <form method="post" action={% url 'users:register' %}>
      {% csrf_token %}
      {%bootstrap_form form %}
      <div class="text-center">
        <button class="btn btn-primary" name="submit_register">SIGN UP</button>
      </div>
    
      <input type="hidden" name="next" value="{% url 'team_sports_app:index' %}">
    </form>
  </div>

{% endblock content %}
