<!-- Author:Grp group 4 -->

{% extends "team_sports_app/base.html" %}
{% load bootstrap3 %}
{% block header %}
  <h1 class="text-center">My Profiles</h1>
{% endblock header%}

{% block content %}
<div class="container container-transparent container-small">
  <form action="{% url 'team_sports_app:profiles' user %}" method='post'>

  {% csrf_token %}
	{% bootstrap_form form %}
  <div class="text-center">
    <button name="submit" class="btn btn-primary">Save</button>
  </div>
  </form>
</div>

{% endblock content %}
