<!-- Author:Grp group 4 -->

{% extends "team_sports_app/base.html" %}
{% load bootstrap3 %}
{% block header %}
  <h3 class="text-center">Edit Event:</h3>
{% endblock header %}

{% block content %}
<div class="container container-transparent col-md-4 col-md-offset-4">
  <h4><button class="btn btn-primary"  name="button" onclick="location.href='{% url 'team_sports_app:events'  %}'"><span class=" icon-arrow-left"></button></h4>

  <form action="{% url 'team_sports_app:edit_event' user.username event.id %}" method='post'>
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="text-center">
      <button class="btn btn-primary" name="submit">Save Changes</button>
    </div>
  </form>
</div>
<script type="text/javascript">
    $('#datetimepicker1').datetimepicker({
        format: 'YYYY-MM-DD HH:mm',
    });
</script>
{% endblock content %}
