<!-- Author:Grp group 4 -->

{% extends "team_sports_app/base.html" %}

{% block header %}
  <h2 class="text-center">My Profile</h2>
{% endblock header%}

{% block content %}
<div class="container-transparent container container-small ">
  <form action="{% url 'team_sports_app:save_new_profiles' %}" method='post'>
  {% csrf_token %}

  {% for profile in MyProfiles %}
    <table class="table">
    <tr>
    <th><span class="glyphicon glyphicon-user"></span>  Name</th>
    <td>
      <input class="form-control" type = "text" name="name" value={{profile.name}} />
    </td>
    </tr>
    <tr>
    <th><span class="icon-circle-blank"></span>  Age</th>
    <td>
      <input class="form-control" type ="text" name = "age" value = {{profile.age}} />
    </td>
    </tr>
    <tr>
    <th><span class="glyphicon glyphicon-heart"></span>  Speciality</th>
    <td>
      <input class="form-control" type = "text" name = "speciality" value = {{profile.speciality}} />
    </td>
    </tr>
    <tr>
    <th><span class="glyphicon glyphicon-send"></span>  Email</th>
    <td>
      <input class="form-control" type = "text" name = "email" value = {{profile.email}} />
    </td>
    </tr>
    <tr>
    <th><span class="glyphicon glyphicon-pencil"></span>  Statement</th>
    <td>
      <input class="form-control" type = "text" name = "statement" value = {{profile.statement}} />
    </td>
    </tr>
    </table>
    <div class="text-center">
      <button class="btn btn-primary" type = "submit" value = "submit form">Submit</button>
    </div>
  {% endfor %}
    </form>
</div>


{% endblock content %}
