{% extends "team_sports_app/base.html" %}
{% block header %}
  <h1>Events</h1>
{% endblock header%}

{% block content %}

  <ul>
    {% for event in events %}
    <div class="panel panel-default" style = "max_length = 400px; margin = 20px auto">
      <div class="panel-heading">
        {% if user.is_authenticated %}
        <h3>
          <a href="{% url 'team_sports_app:event' user.username event.id %}">{{ event }}</a>
          <div class="small text-muted">
            Organizer:{{event.owner}}
          </div>
        </h3>
        {% else %}
          <h3>
            <a href="{% url 'users:login' %}">{{ event }}</a>
          </h3>
        {% endif %}
      </div>
      <div class="panel-body" >
        <table class = "table">
    <thead>
      <tr>
        <th>When</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ event.date_added|date:'M d, Y H:i' }}</td>
        <td>{{ event.Description|linebreaks }}</td>
      </tr>
    </tbody>
  </table>
      </div>
    </div>

    {% empty %}
      <li>No events have been added yet.</li>
    {% endfor %}
  </ul>

  <h3>
    Create an event yourself!
    <a href="{% url 'team_sports_app:new_event' %}"><button class="btn btn-primary">Add a new event</button> </a>
  </h3>

{% endblock content %}
