{% extends 'team_sports_app/base.html' %}
{% load bootstrap3 %}
{% block header %}
  <h1>{{ event }}</h1>
  <div>
    <a href="{% url 'team_sports_app:edit_event' user.username event.id %}">
      <button class="btn btn-primary" type="button" name="button">Edit Event</button>
    </a>
  </div>
{% endblock header%}
{% block content %}

  <h3>Participants:</h3>
  <ul>
  {% for participant in participants %}
    <div class="well well-sm">
        <h3>
          {{ participant.participantID|linebreaks }}
          <small>
            <p>Join at {{ participant.date_added|date:'M d, Y H:i' }}</p>
          </small>
        </h3>
    </div>

  {% empty %}
      There are no participants for this event now
  {% endfor %}


  <form action = "join" method = "post">
	{% csrf_token %}

	<button type = "submit" class="btn btn-primary" name = "Join">Join</button>
  </form>

{% endblock content %}
