{% extends "team_sports_app/base.html" %}
{% block header %}
  <h1 class="text-center">Events</h1>
{% endblock header%}

{% block content %}
  <div class="container-transparent container ">
    {% for event in events %}
    {% if forloop.first %}<div class="row">{% endif %}
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>
            {{ event }}
            <div class="small text-muted">
              Organizer:{{event.owner}}
            </div>
          </h3>
        </div>
        <div class="panel-body" >
          <table class = "table">
            <thead>
              <tr>
                <th>When</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ event.date_added|date:'M d, Y H:i' }}</td>
                <td>{{ event.Description|linebreaks }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        {% if user.is_authenticated %}
        <div class="text-center">
          <a href="{% url 'team_sports_app:event' user.username event.id %}">
            <button class="btn-primary btn-lg btn" type="button" name="button">View Details</button>
          </a>
        </div>
        {% else %}
        <div class="text-center">
          <a href="{% url 'users:login' %}">
            <button class="btn-primary btn-lg btn" type="button" name="button">View Details</button>
          </a>
        </div>
        {% endif %}
      </div>
    </div>
    {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
    {% if forloop.last %}</div>{% endif %}
    {% empty %}
      <li>No events have been added yet.</li>
    {% endfor %}


    <h3 class="text-center">
      Create an event yourself!
      <a href="{% url 'team_sports_app:new_event' %}"><button class="btn-lg btn btn-primary ">Add a new event</button> </a>
    </h3>
  </div>
{% endblock content %}
