{% extends "team_sports_app/base.html" %}
{% block header %}
  <h1>Events</h1>
{% endblock header%}

{% block content %}

  <ul>
    {% for event in events %}
    <div class="list-group">

      <div >
        <h3><a href="{% url 'team_sports_app:event' user.username event.id %}">{{ event }}</a></h3>
      </div>

      <div >
        <table class = "table">
    <thead>
      <tr>
        <th>When</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ event.date_added|date:'M d, Y H:i' }}</td>
        <td>{{ event.Description|linebreaks }}</td>
      </tr>
    </tbody>
  </table>
      </div>
    </div>
    {% empty %}
      <li>No events have been added yet.</li>
    {% endfor %}
  </ul>

  <h3>
    Dislike them?
    <a href="{% url 'team_sports_app:new_event' %}"><button class="btn btn-primary">Add a new event</button> </a>
    by yourself!
  </h3>

{% endblock content %}
