{% extends 'team_sports_app/base.html' %}

{% block content %}

  <p>Event: {{ Event }}</p>
  
  <p>Participants:</p>
  <ul>
  {% for participant in participants %}
    <li>
      <p>{{ participant.date_added|date:'M d, Y H:i' }}</p>
      <p>{{ participant.participant|linebreaks }}</p>
      <p>
        <a href="{% url 'team_sports_app:edit_event' event.id %}">Edit Event<a>
      </p>
    <li>
  {% empty %}
    <li>
      There are no participants for this event now
    </li>
  {% endfor %}
  </ul>
  <button name="Join">join event</button>
  

{% endblock content %}

