{% extends "team_sports_app/base.html" %}
{% block header%}
  <div  class="grad-blue-down jumbotron" style="padding-top:60px">
    <h1 id="white" class="text-center">Want to find someone to exercise with?</h1>
  </div>
{% endblock header %}
{% block content  %}
  {% if user.is_authenticated %}
  <div class="text-center">
      <a id="white" href="{% url 'team_sports_app:events' %}">
        <button class="btn btn-primary btn-lg text-uppercase btn-lg"" name="button">Get Start</button>
      </a>
  </div>

  {% else %}

  <div class="text-center">
    <a href="{% url 'users:register' %}"><button class="btn btn-primary text-uppercase btn-lg">Get Start Now</button></a>
  </div>
  {% endif %}

{% endblock content %}
