<!-- Author:Grp group 4 -->
{% extends "team_sports_app/base.html" %}
{% load bootstrap3 %}
{% block header %}
<h2 class="text-center">My Existing Events</h2>
{% endblock header %}

{% block content %}
<div class="container container-transparent">
  <h3 class="text-center">Events you manage</h3>
  {% for event in myownevents %}
    <a href="{% url 'team_sports_app:event'  event.id %}">
      <div class="col-sm-4">
        <div class="panel panel-primary">
        <div class="panel-heading">
          {{event.Event_name}}
        </div>
        <div class="panel-body">
          <p>Event start at: {{event.Event_time|date:'M d, Y H:i'}}</p>
        </div>
        </div>
      </div>
    </a>
  {% empty %}
    <div class="text-center">
      <a id="white" href="{% url 'team_sports_app:new_event' %}">
        <button class="btn btn-primary " "name="button"><span class="icon-plus"></span> Add New</button>
      </a>
    </div>
  {% endfor %}
  <ul class="nav nav-list"><li class="divider"></li></ul>
  <h3 class="text-center">Events you have joined</h3>
  {% for event in myjoinedevents %}
    <a href="{% url 'team_sports_app:event'  event.eventID.id %}">
      <div class="col-sm-4">
        <div class="panel panel-primary">
        <div class="panel-heading">
          {{event.eventID.Event_name}}
        </div>
        <div class="panel-body">
          <p>Event start at: {{event.eventID.Event_time|date:'M d, Y H:i'}}</p>
        </div>
        </div>
      </div>
    </a>
  {% empty %}
    <div class="text-center">
      <a id="white" href="{% url 'team_sports_app:events' %}">
        <button class="btn btn-primary  " " name="button"><span class="icon-eye-open"></span> View</button>
      </a>
    </div>
  {% endfor %}

</div>
{% endblock content %}
