<!-- Author:Grp group 4 -->

{% extends "team_sports_app/base.html" %}
{% load bootstrap3 %}
{% block header%}
 <h2 class="text-center">Add a new event</h2>
{%endblock header%}

{% block content %}
<div class="container-fluid container-transparent container-small">
  <form action="{% url 'team_sports_app:new_event' %}" method='post'>

    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="text-center">
      {% buttons%}
      <button name="submit" class="btn btn-primary">Add event</button>
      {%endbuttons%}
    </div>
  </form>

</div>
<!-- <div class='col-sm-6'>
  <input id="datetimepicker2" class = "form-control" size="16" type="text" value="2012-06-15 14:45">
</div> -->

<script type="text/javascript">
    $('#datetimepicker1').datetimepicker({
        format: 'YYYY-MM-DD HH:mm',
    });
</script>

{% endblock content %}
