<!-- Author:Grp group 4 -->

{% extends "team_sports_app/base.html" %}
{% block header %}
  <h2 class="text-center">{{MyProfile.userID}}'s Profile</h2>
  <div class=" col-xs-12 text-center">
    <button class="btn btn-primary"  name="button" onclick="location.href='{% url 'team_sports_app:events'  %}'"><span class=" icon-arrow-left"></button>
  </div>
{% endblock header%}

{% block content %}
  <div class="row">
    <div class="col-md-4 col-md-offset-4 container container-transparent">
          <div class="table-responsive">
          	<table class="table table-striped">
          		<tr>
          			<th><span class="glyphicon glyphicon-user"></span>  Name: </th>
          			<td>{{MyProfile.name}}</td>
          		</tr>
          		<tr>
          			<th><span class="icon-circle-blank"></span>  Age:</th>
          			<td>{{MyProfile.age}}</td>
          		</tr>
          		<tr>
          			<th><span class="glyphicon glyphicon-heart"></span>  Speciality: </th>
          			<td>{{MyProfile.speciality}}</td>
          		</tr>
          		<tr>
          			<th><span class="glyphicon glyphicon-send"></span>  Email: </th>
          			<td>{{MyProfile.email}}</td>
          		</tr>
          		<tr>
          			<th><span class="glyphicon glyphicon-pencil"></span>  statement: </th>
          			<td>{{MyProfile.statement}}</td>
          		</tr>
          	</table>
          </div>
        {% if isOwner %}
        <form action="{% url 'team_sports_app:edit_profiles' %}" method='post'>
        	{% csrf_token %}
          <div class="text-center">
            <button class="btn btn-primary" type="submit">Edit Profile</button>
          </div>
        </form>
        {% endif %}
    </div>
  </div>



{% endblock content %}
